<%- include ('partials/_header'); %>

<!-- FORM -->
<div class="container">
    <div class="row">
        <h2 class="text-center">Visualizar</h2>

        <div style="display: inline-block;">
           

        <div class=container>
            <div class="container">
                <div class="container">
                    <h3><%= data && data.co1 %> <%= data && data.pg1 %></h3>
                    <textarea style="width: 180%;"><%= data && data.co2 %></textarea>
                    

                        
                        
                        

                        
                        <a href="/db" class="btn">Cancel</a>
                        <button type="submit" class="btn">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<%- include ('partials/_footer'); %>